[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
requests = "*"
numpy = "*"
pillow = "*"
streamlit-drawable-canvas = "*"
loguru = "*"
python-dotenv = "*"

[dev-packages]
pytest = "*"
requests = "*"

[requires]
python_version = "3.10"
